**/.git
**/.svn
**/.hg
**/node_modules
.env
.env.example
**/.yml
**/.yaml
Dockerfile
.gitignore
database.json
.eslintrc.js
**/upload
**/migrations
**/govnodata
**/.idea
**/uploads
**/mariadb
**/.husky
